fastapi
uvicorn
flask
flask-cors
flask-caching
flask-limiter
flask-talisman
pymongo
python-dotenv
werkzeug
beautifulsoup4
mammoth
slowapi
fastapi-cache2
python-multipart
passlib
bcrypt
python-jose
jinja2
aiofiles
pycryptodome
motor
